body{
    background-color: #ddd;
}

.top{
    display:flex;
}
.topside {
    position: fixed;
    display: flex;
}
#size {
    padding-left: 8px;
    padding-top: 2px;
    font-size: 24px;
    color: #11b94f;
}
.app{
    margin-top: 4px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: sans-serif;
    font-size: 12px;
}
.side {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    margin-top: 45px;
    margin-left: 2px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    line-height: 50px;
}
#icon {
    color: #ddd;
    text-shadow: 0 0 3px black,
                 0 0 3px black;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 50px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#icon:hover{
    background-color: #fef7f7;
    border-left: 3px solid #128e3f;
    border-radius: 5px;

}

.side1{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    margin-top: 480px;
    margin-left: 3px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    line-height: 50px;
}
#icon1 {
    color: #ddd;
    text-shadow: 0 0 3px black,
                 0 0 3px black;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 50px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#icon1:hover{
    background-color: #fef7f7;
}

#icon2 {
    color: #fffdfd;
    text-shadow: 0 0 2px black,
                 0 0 2px black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 8px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#icon2:hover{
    background-color: #e7e4e4;
}

.line{
    display: inline-block;
    width: 90px;
    height: 1px;
    margin: 0%;
    padding: 0%;
    background-color: #b5b2b2;
    vertical-align: middle;
    border-radius: 1px;
}
.line1{
    display: inline-block;
    width: 90px;
    height: 2px;
    margin: 0%;
    padding: 0%;
    background-color: #b5b2b2;
    vertical-align: middle;
    border-radius: 2px;
}

.main{
    margin-top: 30px;
    margin-left: 35px;
    border: 2px solid rgb(232, 219, 219);
    border-radius: 10px;
    background-color: #fffefe;
    box-shadow: inset;
    display: flex;
    gap: 0px;
    

}

.menu{
    position: fixed;
    background-color: #f0f0f0;
    width: 396px;
    height: 700px;
    border-radius: 8px;
    border-width: 0.5px;
    border-style: outset;
}

.menucard{
    position: fixed;
    margin-left: 396px;
    width: 80%;
    height: 700px;
    background-color: #f6f5f5;
    border-radius: 4px;
}

.scroll ul{
    list-style-type: none;
    padding-left: 0%;
    margin-top: 5px;
    padding: 0%;
}
.scroll li{
    padding-left: 18px;
    display: flex;
    transition: background-color 0.3s ease;
    height: 30px;
}
.scroll li:hover{
    background-color: #d3d3d3;
    border-left: 4px solid #128e3f;
    border-radius: 5px;
}
.scroll li h2{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 14px;
    padding-top: 8px;
    margin-top: 0%;
    color: #484545;
}

#settingicon{
    font-size: 16px;
    display: flex;
    padding-top: 8px;
    color: #332e2e;
    text-shadow: 0 0 3px #f0f0f0;

}

.rightmenu{
    align-items: center;
}
.settingblock{
    margin-top: 30px;
    margin-left: 50px;
    font-family: sans-serif;
}
.block_h2{

}
.blocklogin{
    padding-top: 18px;
    font-weight: 500;
}
.para{
    font-size: 16px;
    color: #a4a0a0;
    display: flex;
}

.switch {
  position: relative;
  margin-left: 490px;  
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(20px);
}



.blocklanguage{
    padding-top: 10px;
}
.lang{
    margin-right: 50px;
    width: 30px;
}
.blocktyping{
    padding-top: 10px;
}
.para1{
    font-size: 14px;
    color: #a4a0a0;
}
.block_h4{
    font-size: 18px;
    color: #a4a0a0;
}
.para2{
    display: flex;
    font-size: 14px;
    color: #a4a0a0;
}
.switch1 {
  position: relative;
  margin-left: 300px;  
  width: 40px;
  height: 20px;
}

.switch1 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider1 {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}

.slider1:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider1 {
  background: #4CAF50;
}

input:checked + .slider1:before {
  transform: translateX(20px);
}



.para3{
    font-size: 14px;
    color: #a4a0a0;
}
